
$chocolate-web: #C86931ff;
$rust: #A44815ff;
$morning-blue: #899B9Bff;
$wintergreen-dream: #50837Eff;
$msu-green: #134842ff;
$phthalo-green: #052E26ff;
$dark-jungle-green: #041910ff;

.container {
    // padding-left: 4vw;
    // padding-right: 4vw;
    // padding-top: 2vh;
    // padding-bottom: 10px;
    // display:flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-items: top;
    // height:fit-content;
    // //margin-bottom: 10px;
    // overflow-x: hidden;
    width: 100%;
    column-count: 6;
    column-gap:10px;
    padding-bottom: 5px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    // padding-left: 4vw;
    // padding-right: 4vw;
    // padding-top: 2vh;
    box-shadow: 0 0 0 0 white;
    
}

.trade {
    background: rgb(164,72,21);
    background: linear-gradient(180deg, rgba(164,72,21,1) 0%, rgba(255,255,255,1) 95%);    
}
.inspo {
    background: rgb(225,237,230);
background: linear-gradient(180deg, rgba(225,237,230,1) 0%, rgba(255,255,255,1) 95%);
}

@media (min-width: 0px) and (max-width: 369px) {
  .container {
    column-count: 1;
  }
}

@media (min-width: 370px) and (max-width: 755px) {
    .container {
      column-count: 2;
    }
}

@media (min-width: 756px) and (max-width: 1007px) {
  .container {
    column-count: 3;
  }
}

@media (min-width: 1008px) and (max-width: 1259px) {
  .container {
    column-count: 4;
  }
}

@media (min-width: 1260px) and (max-width: 1511px) {
  .container {
    column-count: 5;
  }
}

@media (min-width: 1512px) and (max-width: 1763px) {
  .container {
    column-count: 6;
  }
}