$chocolate-web: #C86931ff;
$rust: #A44815ff;
$morning-blue: #899B9Bff;
$wintergreen-dream: #50837Eff;
$msu-green: #134842ff;
$phthalo-green: #052E26ff;
$dark-jungle-green: #041910ff;

.container {
    width: 100%;
    height: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $rust;
}

.wrapper {
    width: 80vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $wintergreen-dream;
}

.form{
    margin: 30px auto 10px;
    text-align: center;
}
.label .input{
    height: 0;
    width: 0;
    opacity: 0;
 }
 .label{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $rust;
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 24px;
 }
.label:hover{
    background: $dark-jungle-green;
    color: white;
}
.output{
    height: 60px;
    font-size: 0.8rem;
}
.error{
    color: $rust;
}