$chocolate-web: #C86931ff;
$rust: #A44815ff;
$morning-blue: #899B9Bff;
$wintergreen-dream: #50837Eff;
$msu-green: #134842ff;
$phthalo-green: #052E26ff;
$dark-jungle-green: #041910ff;

.card {
    display: inline-block;
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0.5em;
    margin: 5px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    position: relative;

    &:hover{
        cursor: pointer;
    }
}

.postImage {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.tradeType {
    font-size: 0.75em;
    color:rgb(108, 108, 108);
    font-weight: 300;
}

.tradePreference {
    margin-bottom: 5px;
    color:rgb(108, 108, 108);
}

.title {
    color: $rust;
    font-weight: 500;
    font-size: 1em;
}
.location {
    font-size: 0.75em;
    color:rgb(108, 108, 108);
    font-weight: 300;
}

.createdBy {
    font-size: 0.75em;
    color:rgb(108, 108, 108);
    font-weight: 300;

    .username {
        font-weight: 500;
        color: $rust
    }
    .date{
        font-weight: 300;
    }
}

.moreInfo {
    position: absolute;
    width: 20vw;
    max-width: 300px;
    background-color: white;
    color:rgb(108, 108, 108);
    z-index: 1;
    top: 0;
    padding: 10px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
}
.button{
    color:rgb(65, 65, 65);
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 8px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #e1ede6;
    border:0;

    &:hover {
        background-color: $rust;
        color: white;
        cursor: pointer;
    }
}

.title2 {
    color: $rust;
    font-size: 0.75em;
    font-weight: 500;
}

.description {
    font-weight: 300;
    font-size: 0.75em;
}

.buttonContainer {
    width:100%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.right {
 transform: translateX(-100%);
}

.imagesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:fit-content;
}
.detailImage{
    width: 100%;
    border-radius: 10px;;
    margin-top:5px;
}