$chocolate-web: #C86931ff;
$rust: #A44815ff;
$morning-blue: #899B9Bff;
$wintergreen-dream: #50837Eff;
$msu-green: #134842ff;
$phthalo-green: #052E26ff;
$dark-jungle-green: #041910ff;

.navigation {
    box-sizing: border-box;
    width: 100vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    //background-color:$phthalo-green;
    color: rgb(39, 53, 47);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em ;
    font-weight: 600;
}

.logo {
    width: 15vw;
    max-width: 200px;
    min-width: 100px;
    margin-right: 1vw;

    &:hover {
        cursor: pointer;
    }
}

.left {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    height: 100%;

    // border-style: solid;
    // border-width: 1px;
    // border-color: red;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    max-width: 140px;
    height: 100%;

    // border-style: solid;
    // border-width: 1px;
    // border-color: red;
}

.container_nav {


    padding: 0.5rem;
    border-radius: 20px;
    display: grid;
    place-content: center;

    &:hover{
        background-color: #e1ede6;
        cursor: pointer;
    }
    &:active {
        background-color: $rust;
        color: white;
    }
}

.container_nav2 {
    

    padding: 0.5rem;
    border-radius: 20px;
    display: grid;
    place-content: center;

    &:hover{
        background-color: #e1ede6;
        cursor: pointer;
    }

    &:active {
        background-color: $rust;
        color: white;
    }
}

.rightNoUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    max-width: 200px;
    height: 100%;
    min-width: 141px;

    // border-style: solid;
    // border-width: 1px;
    // border-color: red;
}

.container_nav3 {
    padding: 0.5rem;
    border-radius: 20px;
    display: grid;
    place-content: center;
    border: solid 1px;
    border-color: $rust;

    &:hover{
        background-color: #e1ede6;
        border-color: #e1ede6;
        cursor: pointer;
    }

    &:active {
        background-color: $rust;
        border-color: #e1ede6;
        color: white;
    }
}
.container_nav4 {
    padding: 0.5rem;
    border-radius: 20px;
    display: grid;
    place-content: center;
    background-color: $rust;
    color: white;

    &:hover{
        background-color: #e1ede6;
        color: $phthalo-green;
        cursor: pointer;
    }

    &:active {
        background-color: #e1ede6;
        color: $phthalo-green;
    }
}

.buttons {
    font-weight: 500;
    font-size: 1em;
}